<div class="container">
   <div class="row justify-content-center">
      <div class="col-lg-12 p-0">

         <form id="new-post-form">
            <div class="card">
               <div class="card-body" [formGroup]="postForm">
                  <div class="form-group">
                     <label for="title" class="label">Post title:</label>
                     <input type="text" class="form-control" placeholder="Title" formControlName="title" name="title" />
                  </div>

                  <!-- <div class="form-group">
                                          <label for="title" class="label">Author:</label>
                                          <input type="text" class="form-control" placeholder="Author"
                                                 [(ngModel)]="post.creator" name="creator" #creator="ngModel" />
                                    </div> -->

                  <div class="form-group">
                     <label for="title" class="label">Post body:</label>
                     <textarea class="form-control" placeholder="Write your post here..." rows="10"
                        formControlName="body" name="body"></textarea>
                  </div>

                  <div class="btn-group">
                     <a class="btn btn-secondary" (click)="createNewPost()" role="button">
                        Create post!
                     </a>
                     <button class="btn btn-primary" (click)="onUpdateLog()">
                        Log
                     </button>
                  </div>

               </div>
            </div>
         </form>
      </div>
   </div>
</div>