.comment-heading {
   display: grid;
   grid-template-columns: 7fr 1fr;
   align-content: center;
   justify-content: center;
}

.comment-container {
   display: grid;
   grid-template-columns: 85% 15%;
   grid-gap: 10px;

   .column {
      display: flex;
      flex-direction: column;

      .comment-info {
         height: 100px;
      }

      .comment-body {
         font-size: 14px;
         flex-grow: 3;
      }

      .comment-rating {
         height: calc(100px + 3 * var(--div1-height) + 3 * var(--p1-height));
      }
   }
}

.comment-reply {
   border-left: 2px solid lightgray;
}

.btn-div {
   // text-align: right;
   button {
       margin: 5px 2px;
   }
}

.comment-btns {
   text-align: right;
   width: 50%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 5px;

   button, div {
      border-radius: 20px;
      border: 1px lightgray solid;
   }

   div {
      font-weight: bold;
      grid-column: 1 / span 2;
      text-align: center;
   }
}

.mat-icon {
   margin-right: 0 !important;
}