<div class="container">
   <div class="row justify-content-center">
      <div class="col-lg-12 p-0">

         <mat-card class="my-4">
            <mat-card-title>
               <div class="container-fluid">
                  <div class="row">
                     <span>{{ post?.title }}</span>
                     <button mat-raised-button color="basic" class="ml-auto" type="button"
                        (click)="refreshComments()">Load comments</button>
                  </div>

               </div>

            </mat-card-title>
            <mat-card-content>{{ post?.body }}</mat-card-content>

            <div *ngFor="let c of comments">
               <hr>
               <p class="text-muted">Posted on {{ c?.postDate | date }}</p>
               <p>

                  {{ c?.body }}
               </p>
            </div>
         </mat-card>

         <mat-card class="my-4">
            <form [formGroup]="commentForm">
               <mat-form-field class="w-100">
                  <mat-label>Add new comment</mat-label>
                  <textarea formControlName="body" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                     cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
               </mat-form-field>
               <button mat-raised-button color="primary" type="button" (click)="onCommentPost()"
                  [disabled]="commentForm.invalid">Post</button>
            </form>
         </mat-card>

      </div>
   </div>
</div>