.btn-div {
    text-align: right;
    button {
        margin: 5px 2px;
    }
}

.post-comment-buttons {
    display: grid;
    align-content: center;
    justify-content: space-between;
    div {
        grid-row-start: 1;
        grid-row-end: 1;
    }
}

.align-right {
    margin-left: auto;
}

.post-body {
    font-size: 15px;
}

.post-rating {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    font-size: 14px;
    text-align: right;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
 
    button, div {
       border-radius: 20px;
       border: 1px lightgray solid;
    }
 
    div {
       font-weight: bold;
       grid-column: 1 / span 2;
       text-align: center;
    }
 }
