.btn-div {
    text-align: right;
    button {
        margin: 5px 2px;
    }
}

.comment-heading {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-content: center;
    justify-content: center;
}