.btn-div {
    text-align: right;
    button {
        margin: 5px 2px;
    }
}

.post-comment-buttons {
    display: grid;
    align-content: center;
    justify-content: space-between;
    div {
        grid-row-start: 1;
        grid-row-end: 1;
    }
}

.align-right {
    margin-left: auto;
}

.post-body {
    font-size: 17px;
}
