<div class="container">
   <div class="row justify-content-center">

      <form class="col-lg-6 mt-5" [formGroup]="registerForm" (ngSubmit)="register()">
         <div class="form-group">
            <p class="msg-error">{{ registerFailedMessage }}</p>

            <mat-form-field appearance="fill">
               <mat-label>Username</mat-label>
               <input matInput type="text" name="username" formControlName="username" autofocus required>
               <mat-error *ngIf="registerForm.get('username').invalid">This field is required</mat-error>
            </mat-form-field>

         </div>
         <div class="form-group">

            <mat-form-field appearance="fill">
               <mat-label>Password</mat-label>
               <input matInput type="password" name="password" formControlName="password" required>
               <mat-error *ngIf="registerForm.get('password').invalid">This field is required</mat-error>
            </mat-form-field>

         </div>
         <div class="form-group">

            <mat-form-field appearance="fill">
               <mat-label>Confirm password</mat-label>
               <input matInput type="password" name="passwordConfirmation" formControlName="passwordConfirmation"
                  required>
               <mat-error *ngIf="registerForm.get('passwordConfirmation').invalid">This field is required</mat-error>
            </mat-form-field>

         </div>
         <div class="form-group">

            <mat-form-field appearance="fill">
               <mat-label>E-mail</mat-label>
               <input matInput type="email" name="email" formControlName="email" required>
               <mat-error *ngIf="registerForm.get('email').invalid">This field is required</mat-error>
            </mat-form-field>

         </div>

         <button mat-raised-button color="primary" type="submit" id="loginButton">Register</button>

      </form>
   </div>
</div>