<div class="container">
   <div class="row justify-content-center">

      <form class="col-lg-6 mt-5" [formGroup]="loginForm" name="loginForm" (ngSubmit)="login()">
         <div class="form-group">
            <span *ngIf="loginFailedMessage" class="span-error">{{ loginFailedMessage }}</span>

            <mat-form-field appearance="fill">
               <mat-label>Username</mat-label>
               <input matInput type="text" name="username" [formControlName]="'username'" autofocus>
               <mat-error *ngIf="loginForm.get('username').invalid">This field is required</mat-error>
            </mat-form-field>

         </div>
         <div class="form-group">

            <mat-form-field appearance="fill">
               <mat-label>Password</mat-label>
               <input matInput type="password" name="password" [formControlName]="'password'" required>
               <mat-error *ngIf="loginForm.get('password').invalid">This field is required</mat-error>
            </mat-form-field>

         </div>

         <button mat-raised-button color="primary" type="submit" id="loginButton">Login</button>
      </form>
   </div>
</div>