<div class="container">
   <div class="row justify-content-center">
      <div class="col-lg-12 p-0">

         <mat-card class="mt-4">
            <mat-card-title>
               Your profile
            </mat-card-title>
            <!-- <mat-card-subtitle>subtitle</mat-card-subtitle> -->

            <mat-card-content>

               <mat-tab-group dynamicHeight>
                  <mat-tab label="Overview" active="true">
                     <div class="tab-content">
                        <p>username: {{ user?.username }}</p>
                        <p>email: {{ user?.email }}</p>
                        <p>github link:</p>
                     </div>
                  </mat-tab>

                  <mat-tab label="Followed categories">
                     <div class="tab-content">
                        Followed categories
                     </div>
                  </mat-tab>
                  <mat-tab label="Your posts">
                     <div class="tab-content">
                        Your posts
                     </div>
                  </mat-tab>
                  <mat-tab label="Your comments">
                     <div class="tab-content">
                        Your comments
                     </div>
                  </mat-tab>
               </mat-tab-group>

            </mat-card-content>
         </mat-card>


      </div>
   </div>
</div>